<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.CarPortMapper">

    <resultMap type="com.example.project.pojo.CarPort" id="CarPort_Mapper">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="port_permission" jdbcType="VARCHAR" property="portPermission"/>
        <result column="port_area" jdbcType="VARCHAR" property="portArea"/>
        <result column="port_sum" jdbcType="VARCHAR" property="portSum"/>
        <result column="port_manager_id" jdbcType="VARCHAR" property="portManagerId"/>
        <result column="port_id" jdbcType="VARCHAR" property="portId"/>
        <result column="port_community_id" jdbcType="VARCHAR" property="portCommunityId"/>
        <result column="port_is_open" jdbcType="VARCHAR" property="portIsOpen"/>
        <result column="port_is_bespeak" jdbcType="VARCHAR" property="portIsBespeak"/>
        <result column="port_car_id" jdbcType="VARCHAR" property="portCarId"/>
        <result column="port_user_id" jdbcType="VARCHAR" property="portUserId"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <select id="getCarPortList"  parameterType="Sorter" resultMap="CarPort_Mapper">
        SELECT * From Car_Port;
    </select>

    <select id="getPortListByCommunityId" parameterType="String" resultMap="CarPort_Mapper">
        select * from car_port where port_community_id = #{portCommunityId};
    </select>

    <select id="listBespeak" parameterType="String" resultMap="CarPort_Mapper">
        select * from car_port where port_community_id = #{portCommunityId} and port_is_bespeak = #{portIsBespeak};
    </select>

    <update id="updateBespeak" parameterType="CarPort">
        update car_port set port_is_bespeak = #{portIsBespeak},
                            port_car_id = #{portCarId},
                            port_user_id= #{portUserId} where id = #{id}
    </update>

    <delete id="delOneById" parameterType="String">
        delete from car_port
        where id = #{id};
    </delete>

    <update id="updateOpen">
        update car_port set port_is_open = #{portIsOpen} where port_community_id = #{portCommunityId} and port_area = #{portArea};
    </update>

    <update id="dealBespeak">
            update car_port set port_is_open = #{portIsOpen} where id = #{id}
    </update>



    <insert id="insertCarPort">
        insert into car_port (port_permission,
                              port_area,
                              port_sum,
                              port_manager_id,
                              port_id,
                              port_community_id,
                              port_is_open,
                              port_is_bespeak,
                              port_car_id,
                              port_user_id
                              ) values (#{portPermission},
                                        #{portArea},
                                        #{portSum},
                                        #{portManagerId},
                                        #{portId},
                                        #{portCommunityId},
                                        #{portIsOpen},
                                        #{portIsBespeak},
                                        #{portCarId},
                                        #{portUserId})
    </insert>

    <update id="updateCarPort" parameterType="CarPort">
        update car_port set
                            port_is_bespeak = #{portIsBespeak},
                            port_car_id = #{portCarId},
                            port_user_id= #{portUserId},
                            port_permission=#{portPermission},
                            port_sum=#{portSum},
                            port_manager_id=#{portManagerId},
                            port_id=#{portId},
                            port_community_id=#{portCommunityId},
                            port_is_open=#{portIsOpen},
                            port_area=#{portArea}
        where id = #{id}
    </update>
</mapper>
