<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.CommunityMapper">

    <resultMap type="com.example.project.pojo.Community" id="Community_Mapper">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="com_name" jdbcType="VARCHAR" property="name"/>
        <result column="com_location" jdbcType="VARCHAR" property="location"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <select id="getList"  parameterType="Sorter" resultMap="Community_Mapper">
        SELECT * From community where community.com_name like #{keyword} limit ${page},${size}
    </select>

    <update id="update" parameterType="Community">
        update community set com_name = #{name},
                             com_location =#{location}
                            where id = #{id}
    </update>

    <insert id="add">
        insert into community (com_name, com_location) values (#{name},#{location})
    </insert>

    <delete id="delOne">
        delete
        from community
        where id= #{id};
    </delete>

    <!--    <select id="updateUser"  parameterMap="User" resultMap="User">-->
    <!--        SELECT * From User where username like #{keyword} limit #{page},#{size}-->
    <!--    </select>-->
</mapper>
