<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.OwnerMapper">

    <resultMap type="com.example.project.pojo.Owner" id="Owner_Mapper">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="own_community_id" jdbcType="VARCHAR" property="communityId"/>
        <result column="own_cell" jdbcType="VARCHAR" property="cell"/>
        <result column="own_door_id" jdbcType="VARCHAR" property="doorId"/>
        <result column="own_user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="own_car_id" jdbcType="VARCHAR" property="carId"/>
        <result column="own_home_square" jdbcType="VARCHAR" property="homeSquare"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <select id="getOwnerList"  parameterType="Sorter" resultMap="Owner_Mapper">
        SELECT * From owner where own_community_id like #{keyword}  limit ${page},${size}
    </select>

    <select id="getOneByUserId" parameterType="String" resultMap="Owner_Mapper">
        SELECT * From owner where own_user_id = #{userId}
    </select>


    <insert id="addOwner"  parameterType="Owner">
        Insert INTO owner
            (
             own_community_id,
             own_cell,
             own_door_id,
             own_user_id,
             own_car_id,
             own_home_square
             ) values(#{communityId},#{cell},#{doorId},#{userId},#{carId},#{homeSquare})
    </insert>

    <update id="updateOwner" parameterType="Owner">
        update owner set own_community_id=#{communityId},
                         own_cell=#{cell},
                         own_door_id=#{doorId},
                         own_user_id=#{userId},
                         own_car_id=#{carId},
                         own_home_square=#{homeSquare}
                         where id =#{id}
    </update>

    <delete id="del" parameterType="String">
        delete from owner where id = #{id};
    </delete>

    <select id="getOne" parameterType="String" resultMap="Owner_Mapper">
        select * from owner where own_user_id = #{id};
    </select>
</mapper>
