<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.ServantMapper">

    <resultMap type="com.example.project.pojo.Servant" id="Servant_Mapper">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="ser_permission" jdbcType="VARCHAR" property="permission"/>
        <result column="ser_community" jdbcType="VARCHAR" property="communityId"/>
        <result column="ser_address" jdbcType="VARCHAR" property="address"/>
        <result column="ser_user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="ser_desc" jdbcType="VARCHAR" property="desc"/>
        <result column="ser_servant_type" jdbcType="VARCHAR" property="servantType"/>
        <result column="ser_status" jdbcType="VARCHAR" property="status"/>
        <result column="ser_weight" jdbcType="VARCHAR" property="weight"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <select id="getServantList"  parameterType="Sorter" resultMap="Servant_Mapper">
        Select * FROM servant where ser_desc like #{keyword} limit ${page},${size};
    </select>

    <select id="getOwnServant" parameterType="String" resultMap="Servant_Mapper">
        Select * FROM servant where ser_user_id = #{userId};
    </select>

    <update id="updateServant">
        update servant Set ser_status = #{status} where id = #{id}
    </update>

    <insert id="addServant" parameterType="Servant">
        insert into servant (ser_permission,
                             ser_community_id,
                             ser_address,
                             ser_user_id,
                             ser_desc,
                             ser_servant_type,
                             ser_status,
                             ser_weight
                             ) values (#{permission},
                                       #{communityId},
                                       #{address},
                                       #{userId},
                                       #{desc},
                                       #{servantType},
                                       #{status},
                                       #{weight}
                                       )
    </insert>

    <!--    <select id="updateUser"  parameterMap="User" resultMap="User">-->
    <!--        SELECT * From User where username like #{keyword} limit #{page},#{size}-->
    <!--    </select>-->
</mapper>
