<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.UserMapper">

<!--    <parameterMap  type="com.example.project.pojo.Sorter" id="Sorter">-->
<!--        <parameter property="size" javaType="string" />-->
<!--        <parameter property="page" javaType="string" />-->
<!--        <parameter property="keyword" javaType="string" />-->
<!--    </parameterMap>-->

    <resultMap type="com.example.project.pojo.User" id="User_Mapper">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="us_name" jdbcType="VARCHAR" property="username"/>
        <result column="us_password" jdbcType="VARCHAR" property="password"/>
        <result column="us_phone" jdbcType="VARCHAR" property="phone"/>
        <result column="us_email" jdbcType="VARCHAR" property="email"/>
        <result column="us_permission" jdbcType="VARCHAR" property="permission"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
    </resultMap>

    <select id="getUserList"  parameterType="Sorter" resultMap="User_Mapper">
        SELECT * From User where us_name like #{keyword} limit ${page},${size}
    </select>

    <insert id="addUser"  parameterType="User">
        Insert INTO USER (us_name,
                          us_password,
                          us_phone,
                          us_permission,
                          us_email
                          ) values(#{username},
                                   #{password},
                                   #{phone},
                                   #{permission},
                                   #{email}
                                   )
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        set us_name = #{username},
            us_password = #{password},
            us_phone=#{phone},
            us_permission=#{permission},
            us_email=#{email}
        where id=#{id};
    </update>

    <select id="getOne" parameterType="string" resultMap="User_Mapper">
        select * from user where id = #{id};
    </select>

    <delete id="del" parameterType="String">
        delete from user where id= #{id};
    </delete>
<!--    <select id="updateUser"  parameterMap="User" resultMap="User">-->
<!--        SELECT * From User where username like #{keyword} limit #{page},#{size}-->
<!--    </select>-->
</mapper>
